<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <script src="../static/jquery.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
</head>
<body>

<form method="POST" action="/ct_marks">
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <br><br><br>
        <label>Mobile number:</label>
            <input type="text" placeholder="Enter mobile no." class="form-control" name="m">
        <label>AI:</label>
            <input type="text" class="form-control" name="ai" placeholder="Enter artificial intelligence marks">
        <label>CNS:</label>
            <input type="text" class="form-control" name="cns" placeholder="Enter CNS marks">
        <label>MIS:</label>
            <input type="text" class="form-control" name="mis" placeholder="Enter Management info system marks">
        <label>DMW:</label>
            <input type="text" class="form-control" name="dmw" placeholder="Enter Data mining and warehouse marks">
        <label>CC:</label>
            <input type="text" class="form-control" name="cc" placeholder="Enter Cloud computing marks"><br><br>

    <button type="submit" class="btn btn-success">Send</button>
    </div></div>
</form>
</body>
</html>