<html>
<head>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <script src="../static/jquery.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
<form method="POST" action="/">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Attendence</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/f_login">Add student</a></li>
      <li><a href="/f_login">Add attendence</a></li>
        <li><a href="/f_login">SMS</a></li>
      <li><a href="/f_login">Report</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/reg"><span class="glyphicon glyphicon-user"></span> Register here</a></li>
      <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="col-md-1"></div>
    <div class="col-md-10">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="../static/1.jpg" alt="Chania">
      <div class="carousel-caption">
        <h3>CSIT</h3>
        <p>CSIT the best one!</p>
      </div>
    </div>

    <div class="item">
      <img src="../static/2.jpg" alt="Chicago">
      <div class="carousel-caption">
        <h3>CSIT</h3>
        <p>Thank you, CSIT!</p>
      </div>
    </div>

    <div class="item">
      <img src="../static/2.jpg" alt="New York">
      <div class="carousel-caption">
        <h3>CSVTU</h3>
        <p>CSVTU the best one!</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</form>
    </div>
</div>
<div class="row1">
  <div class="col-md-1"></div>
    <div class="col-md-10">
<form method="POST" action="/check">
<div class="form-group">
    <label>Username:</label>
    <input type="text" class="form-control" name="x">
  </div>
  <div class="form-group">
    <label>Password:</label>
    <input type="password" class="form-control" name="y">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Login</button>

</form>
    </div></div>
</body>
</html>